/* Section02.module.css */

/* Section */
.section {
  background-color: var(--color-primary);
  padding-bottom: 200px;

  /* text */
  --_text-grid-template-rows: 3fr 3fr 1fr;
  --_text-grid-template-columns: 1fr;
  --_text-row-gap: 10px;
  --_text-font-family: var(--font-family-mincho);
  --_text-font-size: 21px;
  --_text-line-height: 2.5;
  --_text-text-align: left;
  --_text-a-text-decoration: solid underline;
  --_text-a-text-underline-offset: 8px;
  --_text-a-cursor: pointer;
}

/* Grid Layout */
.container {
  display: grid;
  width: 100%;
  grid-template-columns: var(--grid-columns);
  grid-auto-rows: 100px;
}

.title {
  grid-column: 3 / 10;
  grid-row: 2 / 5;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;
  font-family: var(--font-family-mincho);
  text-align: left;
}

.titleTop{
  font-size: 24px;
  color: var(--color-text);
}

.titleBottom{
  font-size: 38px;
  color: var(--color-text);
  white-space: nowrap;
}

.text {
  grid-column: 4 / 9;
  grid-row: 5 / 13;
  display: grid;
  grid-template-columns: var(--_text-grid-template-columns);
  grid-template-rows: var(--_text-grid-template-rows);

}

.textRow {
  font-family: var(--_text-font-family);
  font-size: var(--_text-font-size);
  line-height: var(--_text-line-height);
  text-align: var(--_text-text-align);
  grid-row: auto;
}

.textRow a {
  text-decoration: var(--_text-a-text-decoration);
  text-underline-offset: var(--_text-a-text-underline-offset);
  cursor: var(--_text-a-cursor);
}

.textRow a:hover {
  color: var(--color-hover-text);
}

.pictureRight {
  grid-column: 10 / 13;
  grid-row: 4 / 10;
  
}

.pictureLeft {
  grid-column: 1 / 3;
  grid-row: 7 / 11;
  
}

.pictureBottom {
  grid-column: 7 / 10;
  grid-row: 13 / 15;
  
}

.pictureBottom > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


@media screen and (min-width: 481px) and (max-width: 1080px) {
  .titleBottom {
    font-size: 5vw;
  }

}

@media screen and (max-width: 480px) {
  .section {
    padding-bottom: 100px;
  }

  .title {
    grid-column: 2 / 12;
    grid-row: 2 / 4;
  }

  .titleTop {
    font-size: 4vw;
  }

  .titleBottom {
    font-size: 6vw;
  }

  .pictureLeft,
  .pictureRight{
    display: none;
  }

  .text {
    grid-column: 2 / 12;
    grid-row: 4 / 10;
  }

  .textRow {
    font-size: 4vw;
  }

  .pictureBottom {
    grid-column: 3 / 13;
    grid-row: 10 / 14;
  }

  .pictureBottom > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
