.container {
    max-width: var(--container-max-width);
    margin: 0 auto;
    padding: var(--container-padding);
  }

  .title {
    font-family: var(--font-family-mincho);
    margin:  1rem 0;
  }
  
  .grid {
    display: grid;
    grid-template-columns: var(--grid-columns);
    grid-gap: var(--grid-gap);
    grid-auto-rows: var(--grid-auto-rows);
  }
  
  .box {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    grid-row: span 2;
  }
  
  .col3 {
    grid-column: span 3;
  }
  
  .col4 {
    grid-column: span 4;
  }
  
  .col6 {
    grid-column: span 6;
  }
  
  .col12 {
    grid-column: span 12;
  }
